@import url(reset.css);
html,
body {
  height: 100%;
  width: 100%; }

.actor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute; }

.hero {
  box-sizing: border-box;
  border: 6px solid #3b9bf5;
  background-color: #cb3bf5; }

.enemy {
  background-color: black; }

.gameOver {
  background-color: black;
  opacity: 0.8; }

h1 {
  font-size: 50px;
  line-height: 75px; }

h2 {
  font-size: 40px;
  line-height: 50px; }

h3 {
  font-size: 30px;
  line-height: 40px; }

.myCanvas {
  position: absolute;
  left: 0px;
  top: 0px; }

.gameBox {
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 0px 10px #000;
  color: white;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10; }

.point {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9;
  font-size: 20px;
  color: black; }

/*# sourceMappingURL=style.css.map */